# Data Science in Economics and Business - Class Project
In this class project, you are supposed to work with GDP data taken from the International Monetary Fund.

**IMPORTANT:** <br>
Please enter the matriculation number of all group members here:
1. XXXXXX
2. YYYYYY
3. ZZZZZZ

In this class project, you will use the different techniques taught in the course: data handling, data visualization, and machine learning.

First load the necessary packages. <br>
If you want to use additional libraries you can add them to the following cell:

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()
#import folium
#from folium.plugins import MarkerCluster

# Problem 1 - Data Handling
The basis of your work will be the following GDP dataset:

In [4]:
gdp = pd.read_csv("GDP_IMF.csv", sep=";")
gdp.head(50)

                        Country  year      GDP
0                   Afghanistan  1992  no data
1                       Albania  1992    0.843
2                       Algeria  1992   49.217
3                       Andorra  1992  no data
4                        Angola  1992    9.395
5           Antigua and Barbuda  1992    0.499
6                     Argentina  1992  255.787
7                       Armenia  1992    0.108
8                         Aruba  1992  no data
9                     Australia  1992  318.093
10                      Austria  1992  195.506
11                   Azerbaijan  1992    1.193
12                 Bahamas, The  1992    5.125
13                      Bahrain  1992    5.442
14                   Bangladesh  1992   43.292
15                     Barbados  1992    1.957
16                      Belarus  1992     12.8
17                      Belgium  1992  228.732
18                       Belize  1992    0.693
19                        Benin  1992    3.284
20                       Bhutan  1992    0.231
21                      Bolivia  1992    5.635
22       Bosnia and Herzegovina  1992  no data
23                     Botswana  1992    3.928
24                       Brazil  1992  382.465
25            Brunei Darussalam  1992    5.526
26                     Bulgaria  1992   10.183
27                 Burkina Faso  1992    3.775
28                      Burundi  1992    1.082
29                   Cabo Verde  1992    0.395
30                     Cambodia  1992    2.439
31                     Cameroon  1992   14.963
32                       Canada  1992  594.376
33     Central African Republic  1992    1.494
34                         Chad  1992    1.886
35                        Chile  1992   46.597
36  China, People's Republic of  1992  492.148
37                     Colombia  1992   68.579
38                      Comoros  1992    0.436
39      Congo, Dem. Rep. of the  1992   36.333
40          Congo, Republic of   1992     3.28
41                   Costa Rica  1992    8.566
42                      Croatia  1992    0.568
43                       Cyprus  1992    7.424
44               Czech Republic  1992  no data
45                Cote d'Ivoire  1992   15.416
46                      Denmark  1992  152.915
47                     Djibouti  1992    0.671
48                     Dominica  1992    0.234
49           Dominican Republic  1992   11.605

#### a)
As you can see, there are many missing values in the data. <br>
Before you can continue, you need to handle them. Proceed as follows:
- Delete those countries with no data at all (if any)
- Either delete the missing years for each country or use the years close by to approximate the missing value <br> *Example: Year 2004 is missing, but 2003 and 2005 are available; use the mean of GDP in 2003 and 2005 to replace missing year 2004.*

In [5]:
pivot_gdp = gdp.pivot(index='Country', columns='year', values='GDP')

In [6]:
pivot_gdp.head(10)

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.862,515.309,588.397,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2782.318,2610.812,2884.173,3133.939,3369.484,3620.243,3878.648,4148.253,4430.685,4731.984
Advanced economies,21156.842,21322.601,22895.932,25360.404,25538.353,25041.07,25132.372,26465.873,26923.495,26648.687,...,52037.09,51000.154,56628.973,57582.432,60469.069,62642.799,65153.074,67753.068,70310.193,72991.719
Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,18.876,20.136,no data,no data,no data,no data,no data,no data,no data,no data
Africa (Region),604.244,605.136,593.589,705.236,787.203,816.984,825.778,683.407,703.55,681.515,...,2540.86,2455.608,2746.799,2974.59,2994.577,3142.775,3383.827,3632.868,3903.836,4212.904
Albania,0.843,1.461,2.361,2.882,3.2,2.259,2.56,3.209,3.483,3.928,...,15.399,15.161,18.31,18.509,20.177,20.847,21.932,23.086,24.217,25.46
Algeria,49.217,50.963,42.426,42.066,46.941,48.178,48.188,48.845,54.749,54.745,...,171.673,145.656,163.138,195.415,206.007,210.86,218.341,225.09,228.991,232.992
Andorra,no data,no data,no data,no data,no data,no data,no data,no data,1.429,1.547,...,3.155,2.885,3.33,3.4,3.669,3.823,3.868,3.87,3.874,3.838
Angola,9.395,6.819,4.965,6.197,7.994,9.388,7.958,7.526,11.166,10.93,...,84.516,57.139,74.791,121.417,117.877,124.102,130.262,136.042,143.146,151.54
Antigua and Barbuda,0.499,0.535,0.589,0.577,0.634,0.681,0.728,0.766,0.826,0.8,...,1.688,1.37,1.471,1.682,1.864,2.016,2.139,2.242,2.349,2.461
Argentina,255.787,264.429,287.835,288.497,304.282,327.436,334.244,316.998,317.759,300.421,...,451.815,389.064,486.702,632.241,641.102,638.583,635.705,650.141,680.511,712.153

In [7]:
pivot_gdp.replace('no data', np.nan, inplace=True)

In [8]:
pivot_gdp['NaN_count'] = pivot_gdp.isna().sum(axis=1)

In [9]:
pivot_gdp

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,NaN_count
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.862,515.309,588.397,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2610.812,2884.173,3133.939,3369.484,3620.243,3878.648,4148.253,4430.685,4731.984,0
Advanced economies,21156.842,21322.601,22895.932,25360.404,25538.353,25041.07,25132.372,26465.873,26923.495,26648.687,...,51000.154,56628.973,57582.432,60469.069,62642.799,65153.074,67753.068,70310.193,72991.719,0
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
Africa (Region),604.244,605.136,593.589,705.236,787.203,816.984,825.778,683.407,703.55,681.515,...,2455.608,2746.799,2974.59,2994.577,3142.775,3383.827,3632.868,3903.836,4212.904,0
Albania,0.843,1.461,2.361,2.882,3.2,2.259,2.56,3.209,3.483,3.928,...,15.161,18.31,18.509,20.177,20.847,21.932,23.086,24.217,25.46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Hemisphere (Region),8519.857,9019.006,9670.139,10184.186,10808.314,11536.444,12021.595,12403.261,13282.918,13559.064,...,27182.771,30475.447,33484.72,35387.287,36660.918,38059.841,39617.364,41259.916,43025.307,0
World,25317.144,26037.126,27989.36,31209.775,32078.117,31993.03,31836.9,32965.257,34056.849,33804.773,...,84894.923,96314.464,100218.398,105568.776,110763.878,116449.845,122425.775,128505.325,134950.483,0
Yemen,17.959,21.737,28.019,12.796,6.496,6.838,6.322,7.639,9.679,9.853,...,18.373,16.957,20.645,19.529,21.102,24.915,28.624,30.69,32.223,0
Zambia,3.614,3.549,3.657,3.799,3.599,4.303,3.538,3.405,3.601,3.87,...,18.111,22.148,28.5,29.272,31.469,33.931,36.693,39.669,42.947,0
Zimbabwe,7.793,7.569,7.959,8.263,10.117,10.386,12.099,11.769,11.34,11.244,...,26.878,35.967,33.02,29.931,26.674,27.978,28.435,26.699,27.779,0

In [10]:
# There is no country with no entries at all
pivot_gdp[pivot_gdp['NaN_count'] == 37]

Empty DataFrame
Columns: [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, NaN_count]
Index: []

[0 rows x 38 columns]

In [11]:
# Alle Länder mit NaN count >= 9 werden rausgeschmissen (haben weniger als 75% der Daten über die Zeit gesehen)
gdp_clean = pivot_gdp[pivot_gdp['NaN_count'] < 9]

In [12]:
gdp_clean.head(20)

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,NaN_count
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.862,515.309,588.397,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2610.812,2884.173,3133.939,3369.484,3620.243,3878.648,4148.253,4430.685,4731.984,0
Advanced economies,21156.842,21322.601,22895.932,25360.404,25538.353,25041.07,25132.372,26465.873,26923.495,26648.687,...,51000.154,56628.973,57582.432,60469.069,62642.799,65153.074,67753.068,70310.193,72991.719,0
Africa (Region),604.244,605.136,593.589,705.236,787.203,816.984,825.778,683.407,703.55,681.515,...,2455.608,2746.799,2974.59,2994.577,3142.775,3383.827,3632.868,3903.836,4212.904,0
Albania,0.843,1.461,2.361,2.882,3.2,2.259,2.56,3.209,3.483,3.928,...,15.161,18.31,18.509,20.177,20.847,21.932,23.086,24.217,25.46,0
Algeria,49.217,50.963,42.426,42.066,46.941,48.178,48.188,48.845,54.749,54.745,...,145.656,163.138,195.415,206.007,210.86,218.341,225.09,228.991,232.992,0
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.429,1.547,...,2.885,3.33,3.4,3.669,3.823,3.868,3.87,3.874,3.838,8
Angola,9.395,6.819,4.965,6.197,7.994,9.388,7.958,7.526,11.166,10.93,...,57.139,74.791,121.417,117.877,124.102,130.262,136.042,143.146,151.54,0
Antigua and Barbuda,0.499,0.535,0.589,0.577,0.634,0.681,0.728,0.766,0.826,0.8,...,1.37,1.471,1.682,1.864,2.016,2.139,2.242,2.349,2.461,0
Argentina,255.787,264.429,287.835,288.497,304.282,327.436,334.244,316.998,317.759,300.421,...,389.064,486.702,632.241,641.102,638.583,635.705,650.141,680.511,712.153,0
Armenia,0.108,0.835,0.648,1.287,1.597,1.639,1.892,1.845,1.912,2.118,...,12.642,13.861,19.503,23.725,25.121,26.251,27.295,28.896,31.021,0
Aruba,NaN,NaN,NaN,1.321,1.38,1.532,1.665,1.723,1.873,1.896,...,2.61,3.126,3.493,3.633,3.766,3.904,4.028,4.154,4.284,3
Asia and Pacific,6672.347,7513.709,8143.61,9252.835,9032.076,8688.337,7860.138,8733.088,9350.074,8724.917,...,31870.172,36349.6,36556.926,38867.58,41469.826,44275.62,47230.219,50275.175,53607.45,0
Australia,318.093,309.308,353.374,379.071,424.689,426.424,381.387,411.727,399.96,377.78,...,1360.687,1646.391,1701.893,1707.548,1720.118,1787.454,1854.393,1929.678,2005.403,0
Australia and New Zealand,359.623,354.105,406.275,441.334,493.784,495.288,438.2,470.619,454.086,430.908,...,1570.779,1895.702,1943.831,1959.517,1971.522,2047.82,2127.215,2216.275,2306.761,0
Austria,195.506,190.383,203.97,241.234,237.343,213.045,218.557,217.475,197.377,197.51,...,434.877,480.688,471.685,515.199,530.106,548.97,563.804,584.249,595.398,0
Azerbaijan,1.193,1.309,2.258,2.417,3.177,3.963,4.28,4.581,5.273,5.475,...,42.693,54.622,69.906,70.03,74.681,79.506,84.001,88.614,93.633,0
"Bahamas, The",5.125,5.097,5.372,5.653,5.95,6.332,6.833,7.684,8.076,8.318,...,9.7,11.209,13.038,14.114,14.766,15.33,15.887,16.424,16.974,0
Bahrain,5.442,5.986,6.411,6.787,7.057,7.318,6.996,7.582,9.063,9.189,...,34.622,39.303,44.388,44.87,47.094,49.353,51.466,53.721,56.119,0
Bangladesh,43.292,43.684,46.438,51.842,55.445,57.599,59.879,61.526,61.687,62.537,...,373.902,416.265,460.201,420.516,469.346,525.29,589,663.597,744.067,0
Barbados,1.957,2.075,2.163,2.229,2.377,2.513,2.833,2.969,3.059,3.055,...,4.716,4.868,5.665,6.117,6.517,6.868,7.199,7.524,7.863,0

In [13]:
gdp_clean2 = gdp_clean.apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [14]:
final_gdp = gdp_clean2.fillna(gdp_clean2.rolling(5, min_periods=2, center=True, axis=1).mean())

In [15]:
final_gdp2 = final_gdp.interpolate(method='linear', axis=1, limit_direction='both')

In [16]:
final_gdp2.head(20)

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,NaN_count
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.8620,515.3090,588.3970,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2610.812,2884.173,3133.939,3369.484,3620.243,3878.648,4148.253,4430.685,4731.984,0.0
Advanced economies,21156.8420,21322.6010,22895.9320,25360.404,25538.353,25041.070,25132.372,26465.873,26923.495,26648.687,...,51000.154,56628.973,57582.432,60469.069,62642.799,65153.074,67753.068,70310.193,72991.719,0.0
Africa (Region),604.2440,605.1360,593.5890,705.236,787.203,816.984,825.778,683.407,703.550,681.515,...,2455.608,2746.799,2974.590,2994.577,3142.775,3383.827,3632.868,3903.836,4212.904,0.0
Albania,0.8430,1.4610,2.3610,2.882,3.200,2.259,2.560,3.209,3.483,3.928,...,15.161,18.310,18.509,20.177,20.847,21.932,23.086,24.217,25.460,0.0
Algeria,49.2170,50.9630,42.4260,42.066,46.941,48.178,48.188,48.845,54.749,54.745,...,145.656,163.138,195.415,206.007,210.860,218.341,225.090,228.991,232.992,0.0
Andorra,1.4880,1.4880,1.4880,1.488,1.488,1.488,1.488,1.488,1.429,1.547,...,2.885,3.330,3.400,3.669,3.823,3.868,3.870,3.874,3.838,8.0
Angola,9.3950,6.8190,4.9650,6.197,7.994,9.388,7.958,7.526,11.166,10.930,...,57.139,74.791,121.417,117.877,124.102,130.262,136.042,143.146,151.540,0.0
Antigua and Barbuda,0.4990,0.5350,0.5890,0.577,0.634,0.681,0.728,0.766,0.826,0.800,...,1.370,1.471,1.682,1.864,2.016,2.139,2.242,2.349,2.461,0.0
Argentina,255.7870,264.4290,287.8350,288.497,304.282,327.436,334.244,316.998,317.759,300.421,...,389.064,486.702,632.241,641.102,638.583,635.705,650.141,680.511,712.153,0.0
Armenia,0.1080,0.8350,0.6480,1.287,1.597,1.639,1.892,1.845,1.912,2.118,...,12.642,13.861,19.503,23.725,25.121,26.251,27.295,28.896,31.021,0.0
Aruba,1.3505,1.3505,1.3505,1.321,1.380,1.532,1.665,1.723,1.873,1.896,...,2.610,3.126,3.493,3.633,3.766,3.904,4.028,4.154,4.284,3.0
Asia and Pacific,6672.3470,7513.7090,8143.6100,9252.835,9032.076,8688.337,7860.138,8733.088,9350.074,8724.917,...,31870.172,36349.600,36556.926,38867.580,41469.826,44275.620,47230.219,50275.175,53607.450,0.0
Australia,318.0930,309.3080,353.3740,379.071,424.689,426.424,381.387,411.727,399.960,377.780,...,1360.687,1646.391,1701.893,1707.548,1720.118,1787.454,1854.393,1929.678,2005.403,0.0
Australia and New Zealand,359.6230,354.1050,406.2750,441.334,493.784,495.288,438.200,470.619,454.086,430.908,...,1570.779,1895.702,1943.831,1959.517,1971.522,2047.820,2127.215,2216.275,2306.761,0.0
Austria,195.5060,190.3830,203.9700,241.234,237.343,213.045,218.557,217.475,197.377,197.510,...,434.877,480.688,471.685,515.199,530.106,548.970,563.804,584.249,595.398,0.0
Azerbaijan,1.1930,1.3090,2.2580,2.417,3.177,3.963,4.280,4.581,5.273,5.475,...,42.693,54.622,69.906,70.030,74.681,79.506,84.001,88.614,93.633,0.0
"Bahamas, The",5.1250,5.0970,5.3720,5.653,5.950,6.332,6.833,7.684,8.076,8.318,...,9.700,11.209,13.038,14.114,14.766,15.330,15.887,16.424,16.974,0.0
Bahrain,5.4420,5.9860,6.4110,6.787,7.057,7.318,6.996,7.582,9.063,9.189,...,34.622,39.303,44.388,44.870,47.094,49.353,51.466,53.721,56.119,0.0
Bangladesh,43.2920,43.6840,46.4380,51.842,55.445,57.599,59.879,61.526,61.687,62.537,...,373.902,416.265,460.201,420.516,469.346,525.290,589.000,663.597,744.067,0.0
Barbados,1.9570,2.0750,2.1630,2.229,2.377,2.513,2.833,2.969,3.059,3.055,...,4.716,4.868,5.665,6.117,6.517,6.868,7.199,7.524,7.863,0.0

In [17]:
final_gdp2['NaN_count2'] = final_gdp2.isna().sum(axis=1)

In [18]:
final_gdp2[final_gdp2['NaN_count2'] > 0]

Empty DataFrame
Columns: [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, NaN_count, NaN_count2]
Index: []

[0 rows x 39 columns]

#### b)
We are only interested in the data on a country level and for years already passed. <br>
The dataset, however, also contains information on whole regions such as the EU or G7. <br>
It also contains predictions for GDP in the upcoming years. <br>
Delete these observations from the data. <br>
*Hint: Get a list of all unique values of the Country column.*

In [19]:
final_gdp2.drop(columns=[2023,2024,2025,2026,2027,2028], axis=0, inplace=True)

In [20]:
final_gdp2

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2015,2016,2017,2018,2019,2020,2021,2022,NaN_count,NaN_count2
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.862,515.309,588.397,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2177.688,2285.138,2463.014,2631.963,2782.318,2610.812,2884.173,3133.939,0.0,0
Advanced economies,21156.842,21322.601,22895.932,25360.404,25538.353,25041.070,25132.372,26465.873,26923.495,26648.687,...,45449.127,46671.191,48687.936,51537.607,52037.090,51000.154,56628.973,57582.432,0.0,0
Africa (Region),604.244,605.136,593.589,705.236,787.203,816.984,825.778,683.407,703.550,681.515,...,2419.438,2301.875,2316.143,2479.852,2540.860,2455.608,2746.799,2974.590,0.0,0
Albania,0.843,1.461,2.361,2.882,3.200,2.259,2.560,3.209,3.483,3.928,...,11.389,11.862,13.053,15.157,15.399,15.161,18.310,18.509,0.0,0
Algeria,49.217,50.963,42.426,42.066,46.941,48.178,48.188,48.845,54.749,54.745,...,165.979,160.034,167.498,174.868,171.673,145.656,163.138,195.415,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Hemisphere (Region),8519.857,9019.006,9670.139,10184.186,10808.314,11536.444,12021.595,12403.261,13282.918,13559.064,...,24955.047,25233.116,26689.523,27679.721,28436.804,27182.771,30475.447,33484.720,0.0,0
World,25317.144,26037.126,27989.360,31209.775,32078.117,31993.030,31836.900,32965.257,34056.849,33804.773,...,74968.477,76227.947,81050.962,85966.827,87283.595,84894.923,96314.464,100218.398,0.0,0
Yemen,17.959,21.737,28.019,12.796,6.496,6.838,6.322,7.639,9.679,9.853,...,42.444,31.318,26.842,21.606,21.888,18.373,16.957,20.645,0.0,0
Zambia,3.614,3.549,3.657,3.799,3.599,4.303,3.538,3.405,3.601,3.870,...,21.245,20.965,25.874,26.312,23.309,18.111,22.148,28.500,0.0,0
Zimbabwe,7.793,7.569,7.959,8.263,10.117,10.386,12.099,11.769,11.340,11.244,...,19.969,20.555,21.385,36.945,26.032,26.878,35.967,33.020,0.0,0

In [21]:
final_gdp2.index.values.tolist()

['ASEAN-5',
 'Advanced economies',
 'Africa (Region)',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia and Pacific',
 'Australia',
 'Australia and New Zealand',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean',
 'Central African Republic',
 'Central America',
 'Central Asia and the Caucasus',
 'Chad',
 'Chile',
 "China, People's Republic of",
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep. of the',
 'Congo, Republic of ',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Asia',
 'Eastern Europe ',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Emerging and Developing Asia',
 'Emerging and Developing Europe',
 'Emerging market and developing economies',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe',
 'European Union',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Republic of',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao P.D.R.',
 'Latin America and the Caribbean',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Major advanced economies (G7)',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. States of',
 'Middle East (Region)',
 'Middle East and Central Asia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Africa',
 'North America',
 'North Macedonia ',
 'Norway',
 'Oman',
 'Other advanced economies',
 'Pacific Islands ',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome und Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South America',
 'South Asia',
 'Southeast Asia',
 'Spain',
 'Sri Lanka',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (Region) ',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Taiwan Province of China',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tuerkiye, Republic of',
 'Tunisia',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Western Europe',
 'Western Hemisphere (Region)',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [22]:
blacklist = ['ASEAN-5', 'Advanced economies', 'Africa (Region)', 'Asia and Pacific', 'Australia and New Zealand', 'Central America', 'Central Asia and the Caucasus',  'Emerging and Developing Asia', 'Emerging and Developing Europe', 'Emerging market and developing economies',  'Euro area', 'Europe', 'European Union', 'Latin America and the Caribbean', 'Major advanced economies (G7)',  'Middle East (Region)', 'Middle East and Central Asia',  'North Africa', 'North America',  'Other advanced economies', 'Pacific Islands ',  'South America', 'South Asia', 'Southeast Asia',  'Sub-Saharan Africa (Region) ',  'Sub-Saharan Africa',  'West Bank and Gaza', 'Western Europe', 'Western Hemisphere (Region)', 'World']

In [23]:
final_gdp3 = final_gdp2.drop(blacklist)

# Problem 2 - Data Visualization
#### a)
To get some first insights in the data, create meaningful plots. <br>
You can use any kind that you deem useful: histograms, line plots, etc.

In [ ]:
# Insert your code here.

#### b)
Pick a year with as little missing values as possible. <br>
For this year, create an interactive map with `folium` that tells you the GDP in the country in the given year. <br>
*Hint: Be cautious with country names.*

In [ ]:
# Insert your code here.

# Problem 3 - Supervised Machine Learning
#### a)
First, try to predict the GDP in a given year and in a given country using the data from the past years. <br>
Report the performance (measured in mean squared error) for different numbers of lags.

In [26]:
# Insert your code here.
from sklearn.linear_model import LinearRegression, RidgeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [27]:
df_supervised = pd.DataFrame.transpose(final_gdp3)
df_supervised = df_supervised.drop(["NaN_count", "NaN_count2"])
df_supervised[df_supervised.isnull().any(axis=1)]

Empty DataFrame
Columns: [Albania, Algeria, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Aruba, Australia, Austria, Azerbaijan, Bahamas, The, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize, Benin, Bhutan, Bolivia, Bosnia and Herzegovina, Botswana, Brazil, Brunei Darussalam, Bulgaria, Burkina Faso, Burundi, Cabo Verde, Cambodia, Cameroon, Canada, Caribbean, Central African Republic, Chad, Chile, China, People's Republic of, Colombia, Comoros, Congo, Dem. Rep. of the, Congo, Republic of , Costa Rica, Cote d'Ivoire, Croatia, Cyprus, Czech Republic, Denmark, Djibouti, Dominica, Dominican Republic, East Asia, Eastern Europe , Ecuador, Egypt, El Salvador, Equatorial Guinea, Eritrea, Estonia, Eswatini, Ethiopia, Fiji, Finland, France, Gabon, Gambia, The, Georgia, Germany, Ghana, Greece, Grenada, Guatemala, Guinea, Guinea-Bissau, Guyana, Haiti, Honduras, Hong Kong SAR, Hungary, Iceland, India, Indonesia, Iran, Iraq, Ireland, Israel, Italy, Jamaica, Japan, Jordan, Kazakhstan, Kenya, Kiribati, Korea, Republic of, Kosovo, Kuwait, Kyrgyz Republic, Lao P.D.R., Latvia, Lebanon, Lesotho, ...]
Index: []

[0 rows x 192 columns]

In [28]:
df_supervised.head(10)

Country,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
1992,0.843,49.217,1.488,9.395,0.499,255.787,0.108,1.3505,318.093,195.506,...,1291.208,6520.325,15.450,4.476,0.209,60.400,12.528,17.959,3.614,7.793
1993,1.461,50.963,1.488,6.819,0.535,264.429,0.835,1.3505,309.308,190.383,...,1156.686,6858.550,17.987,6.897,0.200,59.865,16.736,21.737,3.549,7.569
1994,2.361,42.426,1.488,4.965,0.589,287.835,0.648,1.3505,353.374,203.970,...,1243.438,7287.250,20.950,8.175,0.234,58.357,20.712,28.019,3.657,7.959
1995,2.882,42.066,1.488,6.197,0.577,288.497,1.287,1.3210,379.071,241.234,...,1346.449,7639.750,23.168,12.746,0.249,77.427,26.407,12.796,3.799,8.263
1996,3.200,46.941,1.488,7.994,0.634,304.282,1.597,1.3800,424.689,237.343,...,1423.074,8073.125,24.625,17.453,0.261,70.536,31.352,6.496,3.599,10.117
1997,2.259,48.178,1.488,9.388,0.681,327.436,1.639,1.5320,426.424,213.045,...,1562.135,8577.550,26.044,18.433,0.273,85.684,34.146,6.838,4.303,10.386
1998,2.560,48.188,1.488,7.958,0.728,334.244,1.892,1.6650,381.387,218.557,...,1655.219,9062.825,27.587,18.738,0.262,91.836,34.580,6.322,3.538,12.099
1999,3.209,48.845,1.488,7.526,0.766,316.998,1.845,1.7230,411.727,217.475,...,1689.707,9631.175,26.066,21.362,0.268,97.517,36.444,7.639,3.405,11.769
2000,3.483,54.749,1.429,11.166,0.826,317.759,1.912,1.8730,399.960,197.377,...,1669.283,10250.950,24.786,17.195,0.272,117.596,39.585,9.679,3.601,11.340
2001,3.928,54.745,1.547,10.930,0.800,300.421,2.118,1.8960,377.780,197.510,...,1649.083,10581.925,22.705,14.581,0.257,123.119,41.297,9.853,3.870,11.244

In [29]:
model_lin = LinearRegression(fit_intercept = True)
countrys = df_supervised.columns.values

In [30]:
max_lag = 5
Results = pd.DataFrame({"Country": pd.Series(dtype="str"), "MSE_lag1": pd.Series(dtype="float"), "MSE_lag2": pd.Series(dtype="float"), "MSE_lag3": pd.Series(dtype="float"), "MSE_lag4": pd.Series(dtype="float"), "MSE_lag5": pd.Series(dtype="float")})
for country in countrys:
  
    work_df = pd.DataFrame(df_supervised[country])
    for lag in range(1, max_lag+1): 
        work_df["GDP_lag"+str(lag)] = work_df[country].shift(lag)
        X = work_df[["GDP_lag" + str(l) for l in range(1, lag+1)]].iloc[lag:]
        y = work_df[country].iloc[lag:]
        X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state = 123)
        model_lin.fit(X_train, y_train)
        prediction_lin = model_lin.predict(X_test)
        new_row = {"Country": country, "MSE_lag"+str(lag): mean_squared_error(y_test, prediction_lin)}
        Results.loc[len(Results)] = new_row

#model_fit mehrmals laufen lassen ?? Siehe Skript letzte Übung Bitcoins

In [31]:
Results = Results.groupby(["Country"]).agg('sum')

In [32]:
Results.head(10)

,MSE_lag1,MSE_lag2,MSE_lag3,MSE_lag4,MSE_lag5
Country,,,,,
Albania,0.322781,0.412580,0.220986,0.712169,1.056971
Algeria,313.682808,321.354910,180.068047,200.611749,492.792694
Andorra,0.033982,0.023160,0.063254,0.110271,0.037902
Angola,546.877512,556.889104,291.600641,355.275073,784.304953
Antigua and Barbuda,0.028151,0.028628,0.024790,0.024633,0.022904
Argentina,5360.916670,17246.532120,15342.070738,4941.958972,19781.123901
Armenia,5.116740,5.109664,0.831267,1.833106,1.783476
Aruba,0.140110,0.142662,0.114011,0.110744,0.111266
Australia,6755.789177,2975.427244,2484.724263,4660.036983,4608.509041
Austria,480.272150,272.431058,464.025756,1090.455559,715.078461

In [33]:
print("Average MSE for 1 lag is: ", pd.Series.mean(Results["MSE_lag1"]))
print("Average MSE for 2 lags is: ", pd.Series.mean(Results["MSE_lag2"]))
print("Average MSE for 3 lags is: ", pd.Series.mean(Results["MSE_lag3"]))
print("Average MSE for 4 lags is: ", pd.Series.mean(Results["MSE_lag4"]))
print("Average MSE for 5 lags is: ", pd.Series.mean(Results["MSE_lag5"]))

Average MSE for 1 lag is:  20583.85672143842
Average MSE for 2 lags is:  26548.53534471671
Average MSE for 3 lags is:  7075.457411945419
Average MSE for 4 lags is:  8174.913013773101
Average MSE for 5 lags is:  11406.782028998272

#### b)
Now, see if you can improve the prediction with additional data. <br>
In this task, you are supposed to be creative and use your intuition. What could be important predictors? Think of, for example:
- Country characteristics such as population, unemployment rates etc. <br> *Hint: You can search for official statistics, e.g., from OECD.*
- Major historical events such as wars, natural disasters etc. <br> *Hint: You can make dummy variables if such an event happened for given country and year.*
- Geographical information such as continent.

*Note: It is well possible that you can't find data on very small countries. If you don't find data for some countries, you can drop them.*

# Prepocessing CSV Files

In [34]:
# Insert your code here.
imports = pd.read_csv("TDS1/Importe.csv", sep=",")
exports = pd.read_csv("TDS1/Exporte.csv", sep=",")
population = pd.read_csv("TDS1/Populations.csv", sep = ",")
unemployment = pd.read_csv("TDS1/Arbeitslosenraten.csv", sep = ",")
nat_disasters = pd.read_csv("TDS1/natural-disasters.csv", sep = ",")

# Quellen noch rausschreiben

# Imports

In [35]:
imports.drop(imports.iloc[:, 1:36], inplace = True, axis = 1)
imports.drop(["Unnamed: 67"], inplace = True, axis = 1)
imports.rename(columns={'Country Name': 'Country'}, inplace=True)
imports.set_index(keys='Country', inplace=True)

In [36]:
# Investigate NaN
imports['NaN_count'] = imports.isna().sum(axis=1)

In [39]:
# Drop all rows with >= 9 NaN
imports_clean = imports[imports['NaN_count'] < 9]

In [40]:
imports_clean.drop(['NaN_count'], axis=1, inplace=True)
imports_clean = imports_clean.fillna(imports_clean.rolling(5, min_periods=2, center=True, axis=1).mean())
imports_clean = imports_clean.interpolate(method='linear', axis=1, limit_direction='both')

C:\Users\Alina\AppData\Local\Temp\ipykernel_12420\1395835386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imports_clean.drop(['NaN_count'], axis=1, inplace=True)

# Exports

In [41]:
exports.drop(exports.iloc[:, 1:36], inplace = True, axis = 1)
exports.drop(["Unnamed: 67"], inplace = True, axis = 1)
exports.rename(columns={'Country Name': 'Country'}, inplace=True)
exports.set_index(keys='Country', inplace=True)

In [42]:
# Investigate NaN
exports['NaN_count'] = exports.isna().sum(axis=1)

In [43]:
# Drop all rows with >= 9 NaN
exports_clean = exports[exports['NaN_count'] < 9]

In [44]:
exports_clean.drop(['NaN_count'], axis=1, inplace=True)

C:\Users\Alina\AppData\Local\Temp\ipykernel_12420\3056136356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exports_clean.drop(['NaN_count'], axis=1, inplace=True)

In [45]:
exports_clean = exports_clean.fillna(exports_clean.rolling(5, min_periods=2, center=True, axis=1).mean())
exports_clean = exports_clean.interpolate(method='linear', axis=1, limit_direction='both')

# Population

In [46]:
population.drop(population.iloc[:, 1:36], inplace = True, axis = 1)
population.drop(["Unnamed: 67"], inplace = True, axis = 1)
population.rename(columns={'Country Name': 'Country'}, inplace=True)
population.set_index(keys='Country', inplace=True)

In [47]:
# Investigate NaN - No NaN values in the dataset
population['NaN_count'] = population.isna().sum(axis=1)

# Unemployment

In [ ]:
unemployment.drop(unemployment.iloc[:, 1:5], inplace = True, axis = 1)
unemployment.drop(["Flag Codes"], inplace = True, axis = 1)
unemployment_piv = unemployment.pivot(index='LOCATION', columns='TIME', values='Value')

In [ ]:
unemployment_piv
# hat nur 35 verwertbare Länder - evtl. am Ende nutzen und Einfluss auf Regression für diese 35 Länder messen

# Natural disasters

In [50]:
nat_disasters = nat_disasters[["Country name", "Year", "Number of total people affected by drought"]]
nat_disasters.rename(columns={'Country name': 'Country'}, inplace=True)
nat_dis_piv = nat_disasters.pivot(index='Country', columns='Year', values='Number of total people affected by drought')

In [51]:
nat_dis_piv.drop(nat_dis_piv.iloc[:, 0:92], inplace = True, axis = 1)

# Wenn NaN Eintragung dann bedeutet das, dass keine Naturkatastrophe stattgefunden hat, wir ersetzen mit "0 Betroffenen" damit wir die Variable als numerischen Regressor benutzen können
# oder alternativ könnten wir es auch noch in eine kategorische Dummy variable umwandeln
nat_dis_piv.fillna(0, inplace=True)

In [52]:
nat_dis_piv.head(3)

Year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2580000.0,0.0,...,0.0,0.0,0.0,0.0,0.0,13500000.0,0.0,0.0,11000000.0,0.0
Africa,7000000.0,2346507.0,1200000.0,1811994.0,4942000.0,1477100.0,236700.0,36019545.0,231290.0,13054558.0,...,5080000.0,6795326.0,30331228.0,11641000.0,16561874.0,1226600.0,6983000.0,21526000.0,34062500.0,31356261.0
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [135]:
# MATCH THE COUNTRY NAMES
# 1. Clean all new dataframes of the blacklist
# 1. Handle NaNs
# 2. Ensure that the column with the country names is called "country"
# 3. Standardize country names using fuzzywuzzy, a string matching library in python.
#    A warning is printed if the matched name has a similarity score below 80%, also we use copies of the original dataframes

from fuzzywuzzy import process

def match_countries(df, countries):
    df_copy = df.copy()
    matches = []
    for country in df_copy.index:
        match, score = process.extractOne(country, countries)
        if score < 90:
            continue
            #print(f"Low match score: {country} matched with {match} with score {score}")
        elif score < 99:
            print(f"Warning! Middle match score: {country} matched with {match} with score {score}")
            matches.append(match)
            df_copy = df_copy.rename(index={country : match})
        else:
            matches.append(match)
            df_copy = df_copy.rename(index={country : match})
    df_copy = df_copy[df_copy.index.isin(matches)]
    return df_copy

countries = final_gdp3.index.unique()

print("Importe:")
imp_clean_copy = match_countries(imports_clean, countries)
print("Exporte:")
exp_clean_copy = match_countries(exports_clean, countries)
print("Nat_Dis:")
nat_dis_clean_copy = match_countries(nat_dis_piv, countries)
print("Population:")
pop_clean_copy = match_countries(population, countries)
#df5_copy = match_countries(df5, countries)

Importe:

Warning! Middle match score: China matched with China, People's Republic of with score 90
Warning! Middle match score: Congo, Rep. matched with Congo, Republic of  with score 90
Warning! Middle match score: Caribbean small states matched with Caribbean with score 90
Warning! Middle match score: East Asia & Pacific (excluding high income) matched with East Asia with score 90
Warning! Middle match score: East Asia & Pacific matched with East Asia with score 90
Warning! Middle match score: Egypt, Arab Rep. matched with Egypt with score 90
Warning! Middle match score: Hong Kong SAR, China matched with Hong Kong SAR with score 90
Warning! Middle match score: St. Kitts and Nevis matched with Saint Kitts and Nevis with score 90
Warning! Middle match score: Korea, Rep. matched with Korea, Republic of with score 90
Warning! Middle match score: Latin America & Caribbean (excluding high income) matched with Caribbean with score 90
Warning! Middle match score: Latin America & Caribbean matched with Caribbean with score 90
Warning! Middle match score: Sao Tome and Principe matched with Sao Tome und Principe with score 95
Warning! Middle match score: East Asia & Pacific (IDA & IBRD countries) matched with East Asia with score 90
Warning! Middle match score: Latin America & the Caribbean (IDA & IBRD countries) matched with Caribbean with score 90
Warning! Middle match score: St. Vincent and the Grenadines matched with Saint Vincent and the Grenadines with score 94
Warning! Middle match score: Venezuela, RB matched with Venezuela with score 95
Exporte:
Warning! Middle match score: China matched with China, People's Republic of with score 90
Warning! Middle match score: Congo, Dem. Rep. matched with Congo, Dem. Rep. of the with score 90
Warning! Middle match score: Congo, Rep. matched with Congo, Republic of  with score 90
Warning! Middle match score: East Asia & Pacific (excluding high income) matched with East Asia with score 90
Warning! Middle match score: East Asia & Pacific matched with East Asia with score 90
Warning! Middle match score: Egypt, Arab Rep. matched with Egypt with score 90
Warning! Middle match score: Hong Kong SAR, China matched with Hong Kong SAR with score 90
Warning! Middle match score: Iran, Islamic Rep. matched with Iran with score 90
Warning! Middle match score: Korea, Rep. matched with Korea, Republic of with score 90
Warning! Middle match score: Latin America & Caribbean (excluding high income) matched with Caribbean with score 90
Warning! Middle match score: Latin America & Caribbean matched with Caribbean with score 90
Warning! Middle match score: East Asia & Pacific (IDA & IBRD countries) matched with East Asia with score 90
Warning! Middle match score: Latin America & the Caribbean (IDA & IBRD countries) matched with Caribbean with score 90
Warning! Middle match score: Venezuela, RB matched with Venezuela with score 95
Nat_Dis:
Warning! Middle match score: Africa matched with Central African Republic with score 90
Warning! Middle match score: American Samoa matched with Samoa with score 90
Warning! Middle match score: Asia matched with East Asia with score 90
Warning! Middle match score: Bahamas matched with Bahamas, The with score 90
Warning! Middle match score: Brunei matched with Brunei Darussalam with score 90
Warning! Middle match score: China matched with China, People's Republic of with score 90
Warning! Middle match score: Congo matched with Congo, Dem. Rep. of the with score 90
Warning! Middle match score: East Germany matched with Germany with score 90
Warning! Middle match score: Europe matched with Eastern Europe  with score 90
Warning! Middle match score: Gambia matched with Gambia, The with score 90
Warning! Middle match score: Hong Kong matched with Hong Kong SAR with score 95
Warning! Middle match score: Netherlands Antilles matched with Netherlands with score 90
Warning! Middle match score: North Yemen matched with Yemen with score 90
Warning! Middle match score: Russia matched with Russian Federation with score 90
Warning! Middle match score: Sao Tome and Principe matched with Sao Tome und Principe with score 95
Warning! Middle match score: Serbia and Montenegro matched with Montenegro with score 90
Warning! Middle match score: Somalia matched with Mali with score 90
Warning! Middle match score: South Sudan matched with Sudan with score 90
Warning! Middle match score: South Yemen matched with Yemen with score 90
Warning! Middle match score: Taiwan matched with Taiwan Province of China with score 90
Warning! Middle match score: United States Virgin Islands matched with United States with score 90
Warning! Middle match score: West Germany matched with Germany with score 90
Population:
Warning! Middle match score: American Samoa matched with Samoa with score 90
Warning! Middle match score: China matched with China, People's Republic of with score 90
Warning! Middle match score: Congo, Dem. Rep. matched with Congo, Dem. Rep. of the with score 90
Warning! Middle match score: Congo, Rep. matched with Congo, Republic of  with score 90
Warning! Middle match score: Caribbean small states matched with Caribbean with score 90
Warning! Middle match score: East Asia & Pacific (excluding high income) matched with East Asia with score 90
Warning! Middle match score: East Asia & Pacific matched with East Asia with score 90
Warning! Middle match score: Egypt, Arab Rep. matched with Egypt with score 90
Warning! Middle match score: Hong Kong SAR, China matched with Hong Kong SAR with score 90
Warning! Middle match score: Iran, Islamic Rep. matched with Iran with score 90
Warning! Middle match score: St. Kitts and Nevis matched with Saint Kitts and Nevis with score 90
Warning! Middle match score: Korea, Rep. matched with Korea, Republic of with score 90
Warning! Middle match score: Latin America & Caribbean (excluding high income) matched with Caribbean with score 90
Warning! Middle match score: Latin America & Caribbean matched with Caribbean with score 90
Warning! Middle match score: Somalia matched with Mali with score 90
Warning! Middle match score: South Sudan matched with Sudan with score 90
Warning! Middle match score: Sao Tome and Principe matched with Sao Tome und Principe with score 95
Warning! Middle match score: East Asia & Pacific (IDA & IBRD countries) matched with East Asia with score 90
Warning! Middle match score: Latin America & the Caribbean (IDA & IBRD countries) matched with Caribbean with score 90
Warning! Middle match score: St. Vincent and the Grenadines matched with Saint Vincent and the Grenadines with score 94
Warning! Middle match score: Venezuela, RB matched with Venezuela with score 95
Warning! Middle match score: Yemen, Rep. matched with Yemen with score 90

In [137]:
# Normalize the numerical data (Sollten wir in der a) dann auch noch machen!!!!)

imp_clean_copy_norm = (imp_clean_copy - imp_clean_copy.mean())/imp_clean_copy.std()
exp_clean_copy_norm = (exp_clean_copy - exp_clean_copy.mean())/exp_clean_copy.std()
nat_dis_clean_copy_norm = (nat_dis_clean_copy - nat_dis_clean_copy.mean())/nat_dis_clean_copy.std()
pop_clean_copy_norm = (pop_clean_copy - pop_clean_copy.mean())/pop_clean_copy.std()
final_gdp3_norm = (final_gdp3 - final_gdp3.mean())/final_gdp3.std()

In [145]:
data = pd.concat([final_gdp3_norm, imp_clean_copy_norm, exp_clean_copy_norm, nat_dis_clean_copy_norm, pop_clean_copy_norm])

In [ ]:
#categorical variables into dummy?

In [90]:
imp_clean_copy_norm = imp_clean_copy_norm.add_prefix('Imp_')
exp_clean_copy_norm = exp_clean_copy_norm.add_prefix('Exp_')
nat_dis_clean_copy_norm = nat_dis_clean_copy_norm.add_prefix('Nat_Dis_')
pop_clean_copy_norm = pop_clean_copy_norm.add_prefix('Pop_')
#df5_scaled = df5_scaled.add_prefix('df5_')

In [92]:
#all_data = pd.concat([final_gdp3_norm, imp_clean_copy_norm, exp_clean_copy_norm, nat_dis_clean_copy_norm, pop_clean_copy_norm], axis=1, keys=['GDP', 'Import', 'Export', 'Nat_Dis', 'Population'])
all_data = final_gdp3_norm.join([imp_clean_copy_norm, exp_clean_copy_norm, nat_dis_clean_copy_norm, pop_clean_copy_norm], how='inner')

In [95]:
all_data.drop("Pop_NaN_count", axis = 1, inplace = True)

In [134]:
# perform the regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# Loop over each country
for country in all_data.index.unique():
    mse_scores = []
    # Loop over each year from 1995 to the last year in your data
    for year in range(1998, 2023):  # Adjust this range according to your data
        # Get data for this country and years up to the current year
        country_data = all_data.loc[country]
        country_data = country_data[[i for i in country_data.columns if int(i.split('_')[-1]) <= year]]
        
        # Create lagged GDP and other variables
        for i in range(1, 4):
            country_data[f'{year}_lag{i}'] = country_data[str(year-i)]
            for df_name in ['Imp_', 'Exp_', 'Nat_Dis_', 'Pop_']:
                country_data[f'{year}_{df_name}lag{i}'] = country_data[df_name+str(year-i)]
        
        # Drop rows with missing values (due to lagging)
        country_data = country_data.dropna()
        
        # Define predictors and target variable
        X = country_data.drop([year], axis=1)
        y = country_data[year]
        
        # Split into training and testing sets
        X_train, X_test = X.iloc[:-1], X.iloc[-1:]
        y_train, y_test = y.iloc[:-1], y.iloc[-1:]
        
        # Fit the model
        model = LinearRegression()
        model.fit(X_train, y_train)
        
        # Make predictions
        y_pred = model.predict(X_test)
        
        # Calculate MSE
        mse = mean_squared_error(y_test, y_pred)
        mse_scores.append(mse)
    
    print(f'Average MSE for {country}: {np.mean(mse_scores)}')

AttributeError: 'Series' object has no attribute 'columns'

In [108]:
all_data["Imp_1994"]

Country
Albania               -0.348832
Antigua and Barbuda   -0.350813
Argentina             -0.142483
Armenia               -0.350847
Australia              0.157537
                         ...
Uruguay               -0.328925
Vanuatu               -0.352642
Venezuela             -0.250959
Vietnam               -0.270161
Zambia                -0.343938
Name: Imp_1994, Length: 155, dtype: float64

In [126]:
# Loop over each country
for country in all_data.index.unique():
    mse_scores = []
    # Loop over each year from 1995 to the last year in your data
    for year in range(1995, 2023):  # Adjust this range according to your data
        # Get data for this country and years up to the current year
        country_data = all_data.loc[country, : year]
        
        # Create lagged GDP and other variables
        for i in range(1, 4):
            country_data[f'{year}_lag{i}'] = country_data[year-i]
            for df_name in ['Imp_', 'Exp_', 'Nat_Dis_', 'Pop_']:
                country_data[f'{year}{df_name}lag{i}'] = country_data[df_name + str(year-i)]

In [133]:
country_data.to_frame().T.to_csv("TDS1\Test")

In [129]:
country_data.to_frame().T[2004]

Zambia   -0.235063
Name: 2004, dtype: float64

In [130]:
country_data.to_frame().T["2022_lag3"]

Zambia   -0.226238
Name: 2022_lag3, dtype: float64

# Problem 4 - Unsupervised Machine Learning 
Use GDP and the information from Problem 3b) to cluster countries. <br>
Which is the optimal number of clusters? <br>
Can you provide an intuition for the clusters you identified?

In [ ]:
# Insert your code here.