# Data Science in Economics and Business - Class Project
In this class project, you are supposed to work with GDP data taken from the International Monetary Fund.

**IMPORTANT:** <br>
Please enter the matriculation number of all group members here:
1. XXXXXX
2. YYYYYY
3. ZZZZZZ

In this class project, you will use the different techniques taught in the course: data handling, data visualization, and machine learning.

First load the necessary packages. <br>
If you want to use additional libraries you can add them to the following cell:

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()
import folium
from folium.plugins import MarkerCluster

# Problem 1 - Data Handling
The basis of your work will be the following GDP dataset:

In [85]:
gdp = pd.read_csv("/home/neles/git/test/TDS1/GDP_IMF.csv", sep=";")
gdp.head(50)

                        Country  year      GDP
0                   Afghanistan  1992  no data
1                       Albania  1992    0.843
2                       Algeria  1992   49.217
3                       Andorra  1992  no data
4                        Angola  1992    9.395
5           Antigua and Barbuda  1992    0.499
6                     Argentina  1992  255.787
7                       Armenia  1992    0.108
8                         Aruba  1992  no data
9                     Australia  1992  318.093
10                      Austria  1992  195.506
11                   Azerbaijan  1992    1.193
12                 Bahamas, The  1992    5.125
13                      Bahrain  1992    5.442
14                   Bangladesh  1992   43.292
15                     Barbados  1992    1.957
16                      Belarus  1992     12.8
17                      Belgium  1992  228.732
18                       Belize  1992    0.693
19                        Benin  1992    3.284
20                       Bhutan  1992    0.231
21                      Bolivia  1992    5.635
22       Bosnia and Herzegovina  1992  no data
23                     Botswana  1992    3.928
24                       Brazil  1992  382.465
25            Brunei Darussalam  1992    5.526
26                     Bulgaria  1992   10.183
27                 Burkina Faso  1992    3.775
28                      Burundi  1992    1.082
29                   Cabo Verde  1992    0.395
30                     Cambodia  1992    2.439
31                     Cameroon  1992   14.963
32                       Canada  1992  594.376
33     Central African Republic  1992    1.494
34                         Chad  1992    1.886
35                        Chile  1992   46.597
36  China, People's Republic of  1992  492.148
37                     Colombia  1992   68.579
38                      Comoros  1992    0.436
39      Congo, Dem. Rep. of the  1992   36.333
40          Congo, Republic of   1992     3.28
41                   Costa Rica  1992    8.566
42                      Croatia  1992    0.568
43                       Cyprus  1992    7.424
44               Czech Republic  1992  no data
45                Cote d'Ivoire  1992   15.416
46                      Denmark  1992  152.915
47                     Djibouti  1992    0.671
48                     Dominica  1992    0.234
49           Dominican Republic  1992   11.605

#### a)
As you can see, there are many missing values in the data. <br>
Before you can continue, you need to handle them. Proceed as follows:
- Delete those countries with no data at all (if any)
- Either delete the missing years for each country or use the years close by to approximate the missing value <br> *Example: Year 2004 is missing, but 2003 and 2005 are available; use the mean of GDP in 2003 and 2005 to replace missing year 2004.*

In [86]:
pivot_gdp = gdp.pivot(index='Country', columns='year', values='GDP')

In [87]:
pivot_gdp.head(10)

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.862,515.309,588.397,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2782.318,2610.812,2884.173,3133.939,3369.484,3620.243,3878.648,4148.253,4430.685,4731.984
Advanced economies,21156.842,21322.601,22895.932,25360.404,25538.353,25041.07,25132.372,26465.873,26923.495,26648.687,...,52037.09,51000.154,56628.973,57582.432,60469.069,62642.799,65153.074,67753.068,70310.193,72991.719
Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,18.876,20.136,no data,no data,no data,no data,no data,no data,no data,no data
Africa (Region),604.244,605.136,593.589,705.236,787.203,816.984,825.778,683.407,703.55,681.515,...,2540.86,2455.608,2746.799,2974.59,2994.577,3142.775,3383.827,3632.868,3903.836,4212.904
Albania,0.843,1.461,2.361,2.882,3.2,2.259,2.56,3.209,3.483,3.928,...,15.399,15.161,18.31,18.509,20.177,20.847,21.932,23.086,24.217,25.46
Algeria,49.217,50.963,42.426,42.066,46.941,48.178,48.188,48.845,54.749,54.745,...,171.673,145.656,163.138,195.415,206.007,210.86,218.341,225.09,228.991,232.992
Andorra,no data,no data,no data,no data,no data,no data,no data,no data,1.429,1.547,...,3.155,2.885,3.33,3.4,3.669,3.823,3.868,3.87,3.874,3.838
Angola,9.395,6.819,4.965,6.197,7.994,9.388,7.958,7.526,11.166,10.93,...,84.516,57.139,74.791,121.417,117.877,124.102,130.262,136.042,143.146,151.54
Antigua and Barbuda,0.499,0.535,0.589,0.577,0.634,0.681,0.728,0.766,0.826,0.8,...,1.688,1.37,1.471,1.682,1.864,2.016,2.139,2.242,2.349,2.461
Argentina,255.787,264.429,287.835,288.497,304.282,327.436,334.244,316.998,317.759,300.421,...,451.815,389.064,486.702,632.241,641.102,638.583,635.705,650.141,680.511,712.153

In [88]:
pivot_gdp.replace('no data', np.nan, inplace=True)

In [89]:
pivot_gdp['NaN_count'] = pivot_gdp.isna().sum(axis=1)

In [90]:
pivot_gdp

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,NaN_count
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.862,515.309,588.397,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2610.812,2884.173,3133.939,3369.484,3620.243,3878.648,4148.253,4430.685,4731.984,0
Advanced economies,21156.842,21322.601,22895.932,25360.404,25538.353,25041.07,25132.372,26465.873,26923.495,26648.687,...,51000.154,56628.973,57582.432,60469.069,62642.799,65153.074,67753.068,70310.193,72991.719,0
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
Africa (Region),604.244,605.136,593.589,705.236,787.203,816.984,825.778,683.407,703.55,681.515,...,2455.608,2746.799,2974.59,2994.577,3142.775,3383.827,3632.868,3903.836,4212.904,0
Albania,0.843,1.461,2.361,2.882,3.2,2.259,2.56,3.209,3.483,3.928,...,15.161,18.31,18.509,20.177,20.847,21.932,23.086,24.217,25.46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Hemisphere (Region),8519.857,9019.006,9670.139,10184.186,10808.314,11536.444,12021.595,12403.261,13282.918,13559.064,...,27182.771,30475.447,33484.72,35387.287,36660.918,38059.841,39617.364,41259.916,43025.307,0
World,25317.144,26037.126,27989.36,31209.775,32078.117,31993.03,31836.9,32965.257,34056.849,33804.773,...,84894.923,96314.464,100218.398,105568.776,110763.878,116449.845,122425.775,128505.325,134950.483,0
Yemen,17.959,21.737,28.019,12.796,6.496,6.838,6.322,7.639,9.679,9.853,...,18.373,16.957,20.645,19.529,21.102,24.915,28.624,30.69,32.223,0
Zambia,3.614,3.549,3.657,3.799,3.599,4.303,3.538,3.405,3.601,3.87,...,18.111,22.148,28.5,29.272,31.469,33.931,36.693,39.669,42.947,0
Zimbabwe,7.793,7.569,7.959,8.263,10.117,10.386,12.099,11.769,11.34,11.244,...,26.878,35.967,33.02,29.931,26.674,27.978,28.435,26.699,27.779,0

In [91]:
# There is no country with no entries at all
pivot_gdp[pivot_gdp['NaN_count'] == 37]

Empty DataFrame
Columns: [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, NaN_count]
Index: []

[0 rows x 38 columns]

In [92]:
# Alle Länder mit NaN count >= 9 werden rausgeschmissen (haben weniger als 75% der Daten über die Zeit gesehen)
gdp_clean = pivot_gdp[pivot_gdp['NaN_count'] < 9]

In [93]:
gdp_clean.head(20)

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,NaN_count
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.862,515.309,588.397,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2610.812,2884.173,3133.939,3369.484,3620.243,3878.648,4148.253,4430.685,4731.984,0
Advanced economies,21156.842,21322.601,22895.932,25360.404,25538.353,25041.07,25132.372,26465.873,26923.495,26648.687,...,51000.154,56628.973,57582.432,60469.069,62642.799,65153.074,67753.068,70310.193,72991.719,0
Africa (Region),604.244,605.136,593.589,705.236,787.203,816.984,825.778,683.407,703.55,681.515,...,2455.608,2746.799,2974.59,2994.577,3142.775,3383.827,3632.868,3903.836,4212.904,0
Albania,0.843,1.461,2.361,2.882,3.2,2.259,2.56,3.209,3.483,3.928,...,15.161,18.31,18.509,20.177,20.847,21.932,23.086,24.217,25.46,0
Algeria,49.217,50.963,42.426,42.066,46.941,48.178,48.188,48.845,54.749,54.745,...,145.656,163.138,195.415,206.007,210.86,218.341,225.09,228.991,232.992,0
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.429,1.547,...,2.885,3.33,3.4,3.669,3.823,3.868,3.87,3.874,3.838,8
Angola,9.395,6.819,4.965,6.197,7.994,9.388,7.958,7.526,11.166,10.93,...,57.139,74.791,121.417,117.877,124.102,130.262,136.042,143.146,151.54,0
Antigua and Barbuda,0.499,0.535,0.589,0.577,0.634,0.681,0.728,0.766,0.826,0.8,...,1.37,1.471,1.682,1.864,2.016,2.139,2.242,2.349,2.461,0
Argentina,255.787,264.429,287.835,288.497,304.282,327.436,334.244,316.998,317.759,300.421,...,389.064,486.702,632.241,641.102,638.583,635.705,650.141,680.511,712.153,0
Armenia,0.108,0.835,0.648,1.287,1.597,1.639,1.892,1.845,1.912,2.118,...,12.642,13.861,19.503,23.725,25.121,26.251,27.295,28.896,31.021,0
Aruba,NaN,NaN,NaN,1.321,1.38,1.532,1.665,1.723,1.873,1.896,...,2.61,3.126,3.493,3.633,3.766,3.904,4.028,4.154,4.284,3
Asia and Pacific,6672.347,7513.709,8143.61,9252.835,9032.076,8688.337,7860.138,8733.088,9350.074,8724.917,...,31870.172,36349.6,36556.926,38867.58,41469.826,44275.62,47230.219,50275.175,53607.45,0
Australia,318.093,309.308,353.374,379.071,424.689,426.424,381.387,411.727,399.96,377.78,...,1360.687,1646.391,1701.893,1707.548,1720.118,1787.454,1854.393,1929.678,2005.403,0
Australia and New Zealand,359.623,354.105,406.275,441.334,493.784,495.288,438.2,470.619,454.086,430.908,...,1570.779,1895.702,1943.831,1959.517,1971.522,2047.82,2127.215,2216.275,2306.761,0
Austria,195.506,190.383,203.97,241.234,237.343,213.045,218.557,217.475,197.377,197.51,...,434.877,480.688,471.685,515.199,530.106,548.97,563.804,584.249,595.398,0
Azerbaijan,1.193,1.309,2.258,2.417,3.177,3.963,4.28,4.581,5.273,5.475,...,42.693,54.622,69.906,70.03,74.681,79.506,84.001,88.614,93.633,0
"Bahamas, The",5.125,5.097,5.372,5.653,5.95,6.332,6.833,7.684,8.076,8.318,...,9.7,11.209,13.038,14.114,14.766,15.33,15.887,16.424,16.974,0
Bahrain,5.442,5.986,6.411,6.787,7.057,7.318,6.996,7.582,9.063,9.189,...,34.622,39.303,44.388,44.87,47.094,49.353,51.466,53.721,56.119,0
Bangladesh,43.292,43.684,46.438,51.842,55.445,57.599,59.879,61.526,61.687,62.537,...,373.902,416.265,460.201,420.516,469.346,525.29,589,663.597,744.067,0
Barbados,1.957,2.075,2.163,2.229,2.377,2.513,2.833,2.969,3.059,3.055,...,4.716,4.868,5.665,6.117,6.517,6.868,7.199,7.524,7.863,0

In [94]:
gdp_clean2 = gdp_clean.apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [95]:
final_gdp = gdp_clean2.fillna(gdp_clean2.rolling(5, min_periods=2, center=True, axis=1).mean())

In [96]:
final_gdp2 = final_gdp.interpolate(method='linear', axis=1, limit_direction='both')

In [97]:
final_gdp2.head(20)

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,NaN_count
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.8620,515.3090,588.3970,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2610.812,2884.173,3133.939,3369.484,3620.243,3878.648,4148.253,4430.685,4731.984,0.0
Advanced economies,21156.8420,21322.6010,22895.9320,25360.404,25538.353,25041.070,25132.372,26465.873,26923.495,26648.687,...,51000.154,56628.973,57582.432,60469.069,62642.799,65153.074,67753.068,70310.193,72991.719,0.0
Africa (Region),604.2440,605.1360,593.5890,705.236,787.203,816.984,825.778,683.407,703.550,681.515,...,2455.608,2746.799,2974.590,2994.577,3142.775,3383.827,3632.868,3903.836,4212.904,0.0
Albania,0.8430,1.4610,2.3610,2.882,3.200,2.259,2.560,3.209,3.483,3.928,...,15.161,18.310,18.509,20.177,20.847,21.932,23.086,24.217,25.460,0.0
Algeria,49.2170,50.9630,42.4260,42.066,46.941,48.178,48.188,48.845,54.749,54.745,...,145.656,163.138,195.415,206.007,210.860,218.341,225.090,228.991,232.992,0.0
Andorra,1.4880,1.4880,1.4880,1.488,1.488,1.488,1.488,1.488,1.429,1.547,...,2.885,3.330,3.400,3.669,3.823,3.868,3.870,3.874,3.838,8.0
Angola,9.3950,6.8190,4.9650,6.197,7.994,9.388,7.958,7.526,11.166,10.930,...,57.139,74.791,121.417,117.877,124.102,130.262,136.042,143.146,151.540,0.0
Antigua and Barbuda,0.4990,0.5350,0.5890,0.577,0.634,0.681,0.728,0.766,0.826,0.800,...,1.370,1.471,1.682,1.864,2.016,2.139,2.242,2.349,2.461,0.0
Argentina,255.7870,264.4290,287.8350,288.497,304.282,327.436,334.244,316.998,317.759,300.421,...,389.064,486.702,632.241,641.102,638.583,635.705,650.141,680.511,712.153,0.0
Armenia,0.1080,0.8350,0.6480,1.287,1.597,1.639,1.892,1.845,1.912,2.118,...,12.642,13.861,19.503,23.725,25.121,26.251,27.295,28.896,31.021,0.0
Aruba,1.3505,1.3505,1.3505,1.321,1.380,1.532,1.665,1.723,1.873,1.896,...,2.610,3.126,3.493,3.633,3.766,3.904,4.028,4.154,4.284,3.0
Asia and Pacific,6672.3470,7513.7090,8143.6100,9252.835,9032.076,8688.337,7860.138,8733.088,9350.074,8724.917,...,31870.172,36349.600,36556.926,38867.580,41469.826,44275.620,47230.219,50275.175,53607.450,0.0
Australia,318.0930,309.3080,353.3740,379.071,424.689,426.424,381.387,411.727,399.960,377.780,...,1360.687,1646.391,1701.893,1707.548,1720.118,1787.454,1854.393,1929.678,2005.403,0.0
Australia and New Zealand,359.6230,354.1050,406.2750,441.334,493.784,495.288,438.200,470.619,454.086,430.908,...,1570.779,1895.702,1943.831,1959.517,1971.522,2047.820,2127.215,2216.275,2306.761,0.0
Austria,195.5060,190.3830,203.9700,241.234,237.343,213.045,218.557,217.475,197.377,197.510,...,434.877,480.688,471.685,515.199,530.106,548.970,563.804,584.249,595.398,0.0
Azerbaijan,1.1930,1.3090,2.2580,2.417,3.177,3.963,4.280,4.581,5.273,5.475,...,42.693,54.622,69.906,70.030,74.681,79.506,84.001,88.614,93.633,0.0
"Bahamas, The",5.1250,5.0970,5.3720,5.653,5.950,6.332,6.833,7.684,8.076,8.318,...,9.700,11.209,13.038,14.114,14.766,15.330,15.887,16.424,16.974,0.0
Bahrain,5.4420,5.9860,6.4110,6.787,7.057,7.318,6.996,7.582,9.063,9.189,...,34.622,39.303,44.388,44.870,47.094,49.353,51.466,53.721,56.119,0.0
Bangladesh,43.2920,43.6840,46.4380,51.842,55.445,57.599,59.879,61.526,61.687,62.537,...,373.902,416.265,460.201,420.516,469.346,525.290,589.000,663.597,744.067,0.0
Barbados,1.9570,2.0750,2.1630,2.229,2.377,2.513,2.833,2.969,3.059,3.055,...,4.716,4.868,5.665,6.117,6.517,6.868,7.199,7.524,7.863,0.0

In [101]:
final_gdp2['NaN_count2'] = final_gdp2.isna().sum(axis=1)

In [102]:
final_gdp2[final_gdp2['NaN_count2'] > 0]

Empty DataFrame
Columns: [1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, NaN_count, NaN_count2]
Index: []

[0 rows x 39 columns]

#### b)
We are only interested in the data on a country level and for years already passed. <br>
The dataset, however, also contains information on whole regions such as the EU or G7. <br>
It also contains predictions for GDP in the upcoming years. <br>
Delete these observations from the data. <br>
*Hint: Get a list of all unique values of the Country column.*

In [111]:
final_gdp2.drop(columns=[2023,2024,2025,2026,2027,2028], axis=0, inplace=True)

In [124]:
final_gdp2

year,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,...,2015,2016,2017,2018,2019,2020,2021,2022,NaN_count,NaN_count2
Country,,,,,,,,,,,,,,,,,,,,,
ASEAN-5,460.862,515.309,588.397,682.591,758.554,713.871,467.853,553.827,587.507,564.381,...,2177.688,2285.138,2463.014,2631.963,2782.318,2610.812,2884.173,3133.939,0.0,0
Advanced economies,21156.842,21322.601,22895.932,25360.404,25538.353,25041.070,25132.372,26465.873,26923.495,26648.687,...,45449.127,46671.191,48687.936,51537.607,52037.090,51000.154,56628.973,57582.432,0.0,0
Africa (Region),604.244,605.136,593.589,705.236,787.203,816.984,825.778,683.407,703.550,681.515,...,2419.438,2301.875,2316.143,2479.852,2540.860,2455.608,2746.799,2974.590,0.0,0
Albania,0.843,1.461,2.361,2.882,3.200,2.259,2.560,3.209,3.483,3.928,...,11.389,11.862,13.053,15.157,15.399,15.161,18.310,18.509,0.0,0
Algeria,49.217,50.963,42.426,42.066,46.941,48.178,48.188,48.845,54.749,54.745,...,165.979,160.034,167.498,174.868,171.673,145.656,163.138,195.415,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Hemisphere (Region),8519.857,9019.006,9670.139,10184.186,10808.314,11536.444,12021.595,12403.261,13282.918,13559.064,...,24955.047,25233.116,26689.523,27679.721,28436.804,27182.771,30475.447,33484.720,0.0,0
World,25317.144,26037.126,27989.360,31209.775,32078.117,31993.030,31836.900,32965.257,34056.849,33804.773,...,74968.477,76227.947,81050.962,85966.827,87283.595,84894.923,96314.464,100218.398,0.0,0
Yemen,17.959,21.737,28.019,12.796,6.496,6.838,6.322,7.639,9.679,9.853,...,42.444,31.318,26.842,21.606,21.888,18.373,16.957,20.645,0.0,0
Zambia,3.614,3.549,3.657,3.799,3.599,4.303,3.538,3.405,3.601,3.870,...,21.245,20.965,25.874,26.312,23.309,18.111,22.148,28.500,0.0,0
Zimbabwe,7.793,7.569,7.959,8.263,10.117,10.386,12.099,11.769,11.340,11.244,...,19.969,20.555,21.385,36.945,26.032,26.878,35.967,33.020,0.0,0

In [120]:
final_gdp2.index.values.tolist()

['ASEAN-5',
 'Advanced economies',
 'Africa (Region)',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia and Pacific',
 'Australia',
 'Australia and New Zealand',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean',
 'Central African Republic',
 'Central America',
 'Central Asia and the Caucasus',
 'Chad',
 'Chile',
 "China, People's Republic of",
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep. of the',
 'Congo, Republic of ',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Asia',
 'Eastern Europe ',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Emerging and Developing Asia',
 'Emerging and Developing Europe',
 'Emerging market and developing economies',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe',
 'European Union',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Republic of',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao P.D.R.',
 'Latin America and the Caribbean',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Major advanced economies (G7)',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. States of',
 'Middle East (Region)',
 'Middle East and Central Asia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Africa',
 'North America',
 'North Macedonia ',
 'Norway',
 'Oman',
 'Other advanced economies',
 'Pacific Islands ',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome und Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'South America',
 'South Asia',
 'Southeast Asia',
 'Spain',
 'Sri Lanka',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (Region) ',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Taiwan Province of China',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tuerkiye, Republic of',
 'Tunisia',
 'Turkmenistan',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Western Europe',
 'Western Hemisphere (Region)',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [121]:
blacklist = ['ASEAN-5', 'Advanced economies', 'Africa (Region)', 'Asia and Pacific', 'Australia and New Zealand', 'Central America', 'Central Asia and the Caucasus',  'Emerging and Developing Asia', 'Emerging and Developing Europe', 'Emerging market and developing economies',  'Euro area', 'Europe', 'European Union', 'Latin America and the Caribbean', 'Major advanced economies (G7)',  'Middle East (Region)', 'Middle East and Central Asia',  'North Africa', 'North America',  'Other advanced economies', 'Pacific Islands ',  'South America', 'South Asia', 'Southeast Asia',  'Sub-Saharan Africa (Region) ',  'Sub-Saharan Africa',  'West Bank and Gaza', 'Western Europe', 'Western Hemisphere (Region)', 'World']

In [122]:
blacklist

['ASEAN-5',
 'Advanced economies',
 'Africa (Region)',
 'Asia and Pacific',
 'Australia and New Zealand',
 'Central America',
 'Central Asia and the Caucasus',
 'Emerging and Developing Asia',
 'Emerging and Developing Europe',
 'Emerging market and developing economies',
 'Euro area',
 'Europe',
 'European Union',
 'Latin America and the Caribbean',
 'Major advanced economies (G7)',
 'Middle East (Region)',
 'Middle East and Central Asia',
 'North Africa',
 'North America',
 'Other advanced economies',
 'Pacific Islands ',
 'South America',
 'South Asia',
 'Southeast Asia',
 'Sub-Saharan Africa (Region) ',
 'Sub-Saharan Africa',
 'West Bank and Gaza',
 'Western Europe',
 'Western Hemisphere (Region)',
 'World']

In [125]:
final_gdp3 = final_gdp2.drop(blacklist)

# Problem 2 - Data Visualization
#### a)
To get some first insights in the data, create meaningful plots. <br>
You can use any kind that you deem useful: histograms, line plots, etc.

In [5]:
# Insert your code here.

#### b)
Pick a year with as little missing values as possible. <br>
For this year, create an interactive map with `folium` that tells you the GDP in the country in the given year. <br>
*Hint: Be cautious with country names.*

In [6]:
# Insert your code here.

# Problem 3 - Supervised Machine Learning
#### a)
First, try to predict the GDP in a given year and in a given country using the data from the past years. <br>
Report the performance (measured in mean squared error) for different numbers of lags.

In [7]:
# Insert your code here.

#### b)
Now, see if you can improve the prediction with additional data. <br>
In this task, you are supposed to be creative and use your intuition. What could be important predictors? Think of, for example:
- Country characteristics such as population, unemployment rates etc. <br> *Hint: You can search for official statistics, e.g., from OECD.*
- Major historical events such as wars, natural disasters etc. <br> *Hint: You can make dummy variables if such an event happened for given country and year.*
- Geographical information such as continent.

*Note: It is well possible that you can't find data on very small countries. If you don't find data for some countries, you can drop them.*

In [8]:
# Insert your code here.

# Problem 4 - Unsupervised Machine Learning 
Use GDP and the information from Problem 3b) to cluster countries. <br>
Which is the optimal number of clusters? <br>
Can you provide an intuition for the clusters you identified?

In [9]:
# Insert your code here.